<script>
    $(function () {
        $(".bmzc").hide().fadeIn();
    })
</script>
<style type="text/css">	
	tbody tr:hover {cursor:pointer;background:#8BCCd2}
	table td{text-align:center}
	#allSelect{position:relative;margin-left:55px;float:left}
	.scroll {height: 310px;overflow:auto}
	.height{height:35px}
	.table-head{padding-right:17px;background-color:#DFF0D8}
	.table-body{width:100%;height:280px;overflow:auto}
	.table-head table,.table-body table{width:100%}
	.color{background-color:#BBFFEE}
	.bmzc{background-image:url(images/淡雅2.jpg)}
</style>
<div class="bmzc">
<br />
<!--搜索框-->
	<div class="bmzc">
		<div class="collapse navbar-collapse">
			<form action="javascript:void(0)" ng-submit="bmzcData.searchInc()" class="navbar-form navbar-left">
				<div class="form-group">
					<span>&nbsp;&nbsp;&nbsp;</span>
					<select name="" class="form-control color" ng-model="bmzcData.modal.key">
						<option value="">请选择</option>
						<option value="time">时间</option>
						<option value="dept">部门</option>
					</select>
					<input type="text" class="form-control" placeholder="Search" ng-model="bmzcData.modal.val"/>
				</div>
				<button type="submit" class="button button-small button-raised
					button-longshadow button-pill button-inverse button-glow"
							ng-click="bmzcData.searchBmzc()"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</div>
		<div style="width:100%">
			<div class="table-head height">
				<table class="table">
					<colgroup>
				   <col class="col-xs-1"/>
				   <col class="col-xs-2"/>
				   <col class="col-xs-2"/>
				   <col class="col-xs-2"/>
				   
				</colgroup>
					<thead>
						<tr class="success">
						<td>编号</td>
						<td>考试学生</td>
						<td>考试时间</td>
						<td>考试科目</td>
						<td>考试分数</td>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="scroll table-body">
			<table class="table">
				<colgroup>
				   <col class="col-xs-1"/>
				   <col class="col-xs-2"/>
				   <col class="col-xs-2"/>
				   <col class="col-xs-2"/>
				   
				</colgroup>
				<tbody>
				<tr ng-repeat="item in incomeData.incomes|filter:incomeData.criteria" ng-click="changeCheck(item.id)">
						<td><input type="checkbox" ng-model="item.checked" ng-click="changeCheck(item.id)"/></td>
						<td>{{item.name}}</td>
						<td>{{item.time}}</td>
						<td>{{item.dept}}</td>
						<td>{{item.count}}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<!--按钮组-->
		<div id="allSelect">
			<label>
				<input type="checkbox" ng-click="bmzcData.allSelect()"/>全选
			</label>
		</div>
		<center>
			<div class="btn-group">
				<button class="button button-plain button-pill button-small button-3d button-raised button-longshadow" ng-click="bmzcData.showAddModal()">添加</button>
				<button class="button button-plain button-pill button-small button-3d button-raised button-longshadow" ng-click="bmzcData.delBmzc()">删除</button>
				<button class="button button-plain button-pill button-small button-3d button-raised button-longshadow" ng-click="bmzcData.showUpdModal()">修改</button>
			</div>
		</center>
	</div>
</div>
 <!--模态框，弹出框来使用-->
<div class="modal fade" id="bmzcModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bgcolor">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<center>{{bmzcData.modalTitle}}</center>
				</h4>
			</div>
			<div class="modal-body">
				<form action="javascript:void(0)" method="post" id="addForm" name="myForm">
					<div class="input-group {{myForm.incomeMoney.$valid?'has-success':'has-error'}}">
						<span class="input-group-addon">学生姓名</span>
						<input type="text" ng-model="incomeData.newInc.name" class="form-control" name="incomeName" >
					</div>
					<div class="input-group {{myForm.incomeMoney.$valid?'has-success':'has-error'}}">
						<span class="input-group-addon">考试分数</span>
						<input type="number" ng-model="incomeData.newInc.count" class="form-control" name="incomeMoney" required>
					</div>
					<div class="input-group {{myForm.incomeDept.$valid?'has-success':'has-error'}}">
						<span class="input-group-addon">考试科目</span>
						<select name="incomeDept" id="" class="form-control" ng-model="incomeData.newInc.dept" required>
							<option value="">请选择</option>
							<option value="高等数学">高等数学</option>
							<option value="大学语文">大学语文</option>
							<option value="大学英语">大学英语</option>
							<option value="C语言设计">C语言设计</option>
							<option value="计算机基础导论">计算机基础导论</option>
							<option value="大学舞蹈">大学舞蹈</option>
						</select>
					</div>
					<div class="input-group {{myForm.bmzcTime.$valid?'has-success':'has-error'}}">
						<span class="input-group-addon">考试时间</span>
						<form action="" class="form-horizontal"  role="form">
								<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
									<input class="form-control" size="16" type="text" value="" readonly ng-model="bmzcData.newBmzc.time" name="bmzcTime" required>
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
						</form>
						<script type="text/javascript">
							$('.form_date').datetimepicker({
								language:  'fr',
								weekStart: 1,
								todayBtn:  1,
								autoclose: 1,
								todayHighlight: 1,
								startView: 2,
								minView: 2,
								forceParse: 0
							});
						</script>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="button-pill button-small bgcolor modal_button" ng-click="bmzcData.option=='add'?bmzcData.addBmzc():bmzcData.updBmzc()"
				ng-disabled="myForm.$invalid">提交
				</button>
				<button class="button-pill button-small bgcolor modal_button" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>